---
import image1 from "@/images/A7400623.jpg";
import { Image } from "astro:assets";
---

<section class="bg-background" id="ueber-mich">
  <div class="container pt-16 pb-24 md:pb-32 md:pt-36">
    <div class="grid gap-8 md:grid-cols-2">
      <div class="">
        <Image class="rounded shadow-sm" src={image1} width={418 * 2} alt="" />
      </div>
      <div class="">
        <h2 class="text-5xl font-bold text-primary">Über mich</h2>
        <div class="prose text-dark">
          <p class="mt-6">
            <b>
              Martyna Ostropolska: Ihre Expertin für Sauberkeit und verrückte
              Projekte
            </b>
          </p>
          <p>
            Seit 2015 bin ich in der Reinigungsbranche tätig und habe 2017 mein
            eigenes Reinigungsunternehmen gegründet. Meine Leidenschaft für
            Sauberkeit, Flexibilität und Qualität treibt mich jeden Tag an, das
            Beste für meine Kunden, Ihre Gäste und Mitarbeitenden zu geben.
          </p>
          <p>
            Meine besondere Stärke liegt in der Bewältigung von
            Herausforderungen und verrückten Projekten. Ob es um Entrümpelungen,
            außergewöhnliche Reinigungsaufgaben oder spezielle Anforderungen
            geht – ich liebe es, mich diesen Aufgaben zu stellen! Kein Projekt
            ist mir zu groß oder zu ausgefallen. Mit meinem Team von Green Clean
            sorge ich dafür, dass Ihre Räumlichkeiten nicht nur sauber, sondern
            auch hygienisch und einladend sind.
          </p>
          <p>
            Bei Green Clean bieten wir eine breite Palette an Dienstleistungen
            an, darunter die Reinigung von Polstermöbeln, Teppichen, Büros,
            Gewerbeobjekten, Praxen, Restaurants, Sanitärbereichen, Hotels und
            Ferienwohnungen sowie privaten Objekten. Besonders stolz bin ich auf
            unsere Grundreinigungen und Bauendreinigungen, die für makellose
            Sauberkeit sorgen.
          </p>
          <p>
            Unsere Werte – Sauberkeit, Flexibilität und Qualität – stehen bei
            jeder Aufgabe im Mittelpunkt. Wir verwenden umweltfreundliche
            Reinigungsprodukte und modernste Techniken, um Ihnen den
            bestmöglichen Service zu bieten. Ihre Zufriedenheit ist unser
            oberstes Ziel, und wir arbeiten hart daran, Ihre Erwartungen zu
            übertreffen.
          </p>
          <p>
            Wenn Sie auf der Suche nach einem zuverlässigen Reinigungsdienst in
            Dithmarschen, Nordfriesland und Umgebung sind, der auch die
            verrücktesten Projekte meistert, dann sind Sie bei Green Clean genau
            richtig!
          </p>
          <p>
            Kontaktieren Sie uns noch heute und lassen Sie uns gemeinsam für
            strahlende Sauberkeit sorgen. Ich freue mich darauf, Ihnen zu helfen
            und Ihre Räume zum Glänzen zu bringen!
          </p>
          <p>
            <i> Ihre Martyna Ostropolska</i>
          </p>
        </div>
      </div>
    </div>
    <div class="mt-8 text-lg font-bold text-center text-primary">
      <p>
        <b
          >Green Clean - Ihr Partner in Dithmarschen, Nordfriesland und Umgebung
          für einen zuverlässigen Reinigungsservice … und alles wird clean!</b
        >
      </p>
    </div>
  </div>
</section>
