---

---

<a
  href="#kontakt"
  class="px-5 py-2.5 font-medium tracking-wider text-white uppercase transition bg-primary border border-primary hover:text-white hover:bg-transparent hover:font-bold md:hover:font-medium auto-close-nav"
>
  Kontakt
</a>
