---
import headerImg from "@/images/A7400626.jpg";
import { Image } from "astro:assets";
---

<section>
  <div class="relative pt-24 pb-12 bg-no-repeat md:pt-32 md:pb-0" style="">
    <div
      class="absolute top-0 bottom-0 left-0 w-full h-full md:w-8/12 bg-primary"
    >
    </div>
    <div class="container relative mx-auto">
      <div class="flex items-center justify-center">
        <div class="grid grid-cols-12 gap-8">
          <div class="flex col-span-12 pt-12 md:col-span-6">
            <div class="">
              <div class="flex flex-col-reverse pt-0">
                <div class="mt-4">
                  <h1
                    class="inline text-5xl leading-tight text-white box-decoration-clone bg-clip-border"
                  >
                    Green Clean
                  </h1>
                </div>
                <div class="">
                  <h2
                    class="inline p-0.5 px-2 text-xl font-medium tracking-wide text-white uppercase box-decoration-clone bg-light"
                  >
                    Willkommen bei
                  </h2>
                </div>
              </div>
              <p class="mt-8 text-lg font-medium text-white">
                Ihrem vertrauenswürdigen Partner für hochwertigen
                Reinigungsservice in Dithmarschen, Nordfriesland und Umgebung.
                Unsere erfahrenen Reinigungsprofis nehmen sich zuverlässig ihren
                individuellen Wünschen an und bieten einen hochwertigen
                Reinigungsservice, der für Sauberkeit, Hygiene und Wohlbefinden
                steht. Kommen Sie auf uns zu… und alles wird clean!
              </p>
            </div>
          </div>
          <div class="relative z-10 col-span-12 pb-20 md:col-span-6 md:block">
            <Image class="shadow-sm" src={headerImg} width={418 * 2} alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
