---
const { pre, title, center = false } = Astro.props;
---

<div class=`flex flex-col-reverse ${center ? 'items-center' : ''}`>
  <div>
    <h1
      class=`inline p-0.5 px-2 mt-4 text-3xl leading-tight bg-white box-decoration-clone text-light bg-clip-border`
    >
      {title}
    </h1>
  </div>
  <div class="pb-2">
    <h2
      class=`inline p-0.5 px-2 text-sm font-bold tracking-wide text-white uppercase box-decoration-clone ${pre ? 'bg-dark' : ''}`
    >
      {pre}
    </h2>
  </div>
</div>
