---

---

<section>
  <div class="relative pt-24 pb-12 bg-no-repeat md:pt-32 md:pb-0" style="">
    <div class="absolute top-0 bottom-0 left-0 w-8/12 h-full bg-emerald-50">
    </div>
    <div class="container relative mx-auto">
      <div class="flex items-center justify-center">
        <div class="grid grid-cols-12 gap-8">
          <div class="flex col-span-12 pt-12 md:col-span-6">
            <div class="">
              <div class="flex flex-col-reverse pt-0">
                <div class="mt-4">
                  <h1
                    class="inline text-5xl leading-tight text-emerald-900 box-decoration-clone text-light bg-clip-border"
                  >
                    Green Clean
                  </h1>
                </div>
                <div class="">
                  <h2
                    class="inline p-0.5 px-2 text-xl font-medium tracking-wide text-white uppercase box-decoration-clone bg-emerald-800"
                  >
                    Professionelle Reinigung
                  </h2>
                </div>
              </div>
              <p class="mt-8 text-lg font-medium text-emerald-900">
                Wir sorgen für ein positives Bild in einer Vielzahl von Gebäuden
                in unserem Einzugsgebiet – und setzen Maßstäbe in Sachen
                Hygiene, Reinigung und Sauberkeit. Ob Grundreinigung,
                Glasreinigung, Unterhaltsreinigung, Treppenreinigung - alles
                wird clean.
              </p>
            </div>
          </div>
          <div
            class="relative z-10 hidden col-span-12 pb-20 md:col-span-6 md:block"
          >
            <img src="/images/clean-1.webp" alt="Header Bild" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
