---

---

<div class="flex items-center">
  <a href="/" class="flex overflow-hidden">
    <div class="flex items-center justify-center">
      <div
        class="px-0 text-3xl font-bold leading-none tracking-wide text-left text-emerald-800 font-heading"
      >
        GreenClean
      </div>
    </div>
  </a>
</div>
