---
import { Image } from "astro:assets";
import logo from "@/images/green-clean.jpeg";
---

<div class="flex items-center">
  <a href="/" class="flex overflow-hidden">
    <div class="flex items-center justify-center">
      <div
        class="px-0 text-3xl font-bold leading-none tracking-wide text-left text-white font-heading"
      >
        <Image src={logo} alt="Green Clean Logo" height={58} />
      </div>
    </div>
  </a>
</div>
