---
import Heading from "./Heading.astro";
import AccordionItem from "./AccordionItem.astro";
import Accordion from "./Accordion.astro";
---

<section id="vision-und-ziele">
  <div class="container py-16 md:py-32">
    <div class="flex justify-center">
      <Heading title="Vision und Ziele" pre="Zukunft" center />
    </div>
    <div class="max-w-3xl mx-auto">
      <Accordion>
        <AccordionItem title="Rückendeckung für das Ehrenamt">
          Mit mir gibt es die volle Rückendeckung für das Ehrenamt! Ich will
          dabei mitwirken, dass unsere gemeinnützigen Vereine und unsere
          Freiwilligen Feuerwehren erhalten bleiben und gezielt gefördert
          werden. Ich stehe für eine Entbürokratisierung der Vereinsarbeit im
          Saale-Orla-Kreis. Als Mitglied einer Freiwilligen Feuerwehr kenne ich
          die Probleme rund um die teils veraltete Technik und Materiallage in
          vielen Feuerwehren. Ich will dabei mithelfen die sinnvollen
          Forderungen unserer Feuerwehren im Kreistag erfolgsversprechend
          umzusetzen.
        </AccordionItem>
        <AccordionItem title="Stärkung des ländlichen Raums">
          Der ländliche Raum muss gestärkt und weiterentwickelt werden. Dafür
          ist es wichtig, dass alle Kindergärten als auch Schulstandorte
          erhalten bleiben und die entsprechenden Sanierungskonzepte
          vorangetrieben werden. Als künftiges Kreistagsmitglied setze ich mich
          dafür ein, dass unsere Seniorinnen und Senioren wesentlich mehr
          Betreuungsangebote erhalten sollen.
        </AccordionItem>
        <AccordionItem title="Stärkung der heimischen Landwirtschaft">
          Ich setze mich für den Erhalt und die Stärkung unserer heimischen
          Landwirtschaft ein. Aus eigener Erfahrung eines familiären
          Landwirtschaftsbetriebs kenne ich die Probleme bezüglich der
          Subventionskürzungen und dem fehlenden Rückhalt in der Gesellschaft.
          Wir müssen verstehen, dass unsere Landwirte eine essenzielle Stütze
          der Gesellschaft sind, denn unsere Landwirte denken nicht in
          Wahlperioden, sondern in Generationen.
        </AccordionItem>
        <AccordionItem
          title="Erhalt unserer Krankenhäuser, Arztpraxen und Pflegekräfte"
        >
          Die medizinische Versorgung muss für unsere Bürgerinnen und Bürger
          flächendeckend, nachhaltig und wohnortnah sichergestellt werden. Ich
          setze mich ganz klar für den Erhalt unserer Krankenhäuser in Pößneck
          und in Schleiz ein! Unsere Arztpraxen und unsere Pflegekräfte müssen
          im Saale-Orla-Kreis gehalten werden.
        </AccordionItem>
        <AccordionItem title="Moderne Infrastruktur für den Saale-Orla-Kreis">
          Ich will dabei mitwirken, dass der Saale-Orla-Kreis eine moderne
          Infrastruktur erhält. Kreisstraßen und Fahrradwege müssen saniert und
          ausgebaut werden, um alle Ortschaften an das moderne Verkehrssystem
          anzubinden und den Tourismus zu stärken. Ich unterstütze die Idee
          eines Rufbusses für eine effektive Vernetzung. Des Weiteren mache ich
          mich stark für den Digitalen Breitbandausbau, damit an jedem Fleck in
          unserer Heimat schnelles Internet verfügbar ist.
        </AccordionItem>
      </Accordion>
    </div>
  </div>
</section>
