.section {
  @apply py-24 xl:py-28;
  &-sm {
    @apply py-16 xl:py-20;
  }
}

.container {
  @apply mx-auto max-w-[1200px] px-4;
}

.form {
  label {
    @apply block text-white text-sm font-medium mb-1;
  }
  input, textarea {
    @apply w-full px-4 py-3 border border-emerald-50/50 text-white bg-transparent rounded-md focus:border-white focus:outline-none;
  }
  input[type="submit"] {
    @apply transition rounded-none uppercase tracking-wide bg-white hover:bg-transparent border cursor-pointer border-white text-emerald-900 hover:text-white font-medium py-3 px-6 focus:outline-none focus:ring-1 focus:ring-offset-2 focus:ring-white focus:ring-offset-emerald-900;
  }
}