---
import Base from "@/layouts/Base.astro";
import Header from "@/components/Header.astro";
import Services from "@/components/Services.astro";
import Contact from "@/components/Contact.astro";
---

<Base>
  <Header />
  <div class="h-32 bg-white"></div>
  <Services />
  <Contact />
</Base>
