---
import Base from "@/layouts/Base.astro";
import Header from "@/components/Header.astro";
import Services from "@/components/Services.astro";
import Contact from "@/components/Contact.astro";
import About from "@/components/About.astro";
import Images from "@/components/Images.astro";
---

<Base>
  <Header />
  <div class="h-32 bg-white"></div>
  <Services />
  <About />
  <Images />
  <Contact />
</Base>
